body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

/* this removes the padding of the input fields so that it makes the input fields and button aligned together */
* {
    box-sizing: border-box;
}
